<div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 mx-auto" style="margin-top:50px;margin-bottom:50px;">
  <div class="card mx-auto card-<%= retour.color %>">
    <div class="card-header">
      <h3 class="card-title text-center" style="color:white;"><%= retour.titre  %></h3>
    </div>
    <% for(let i = 0; i<retour.content.length;i++) {%>
      <div class="card card-inverse card-<%= retour.color %> mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p><%= retour.content[i].text %></p>
          </blockquote>
        </div>
      </div>
    <% } %>
  </div>
</div>
